html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body {
    font-family: 'futura-pt', sans-serif;
    color: white;

}

body.pagina-oscura {
    color: white;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
}

/* Estilos específicos para la imagen de fondo en index.html */
body.pagina-oscura main {
    background-image: url('imagenes/main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nombre-sitio {
    font-size: 3.5em;
    font-family: 'AgeoExtraBold', sans-serif;
    font-weight: normal; /* Asegúrate de que el peso sea normal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family:'AgeoExtraBold', sans-serif;
    color: white;
    text-decoration: none;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-principal {
    height: 100%;
    width: 100%;
}

.imagen-principal img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}
